[submodule "submodules/IsaacLab"]
	path = submodules/IsaacLab
	url = git@github.com:isaac-sim/IsaacLab.git

[submodule "submodules/Isaac-GR00T"]
	path = submodules/Isaac-GR00T
	url = https://gh-proxy.com/https://github.com/NVIDIA/Isaac-GR00T.git

[submodule "lerobot"]
	path = lerobot
	url = https://gh-proxy.com/https://github.com/magengyu/lerobot.git

